@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:where(.dark-mode-disabled *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-legend-950: var(--legend-950);
  --color-legend-900: var(--legend-900);
  --color-legend-800: var(--legend-800);
  --color-legend-700: var(--legend-700);
  --color-legend-600: var(--legend-600);
  --color-legend-500: var(--legend-500);
  --color-legend-400: var(--legend-400);
  --color-legend-300: var(--legend-300);
  --color-legend-200: var(--legend-200);
  --color-legend-100: var(--legend-100);
  --color-legend-50: var(--legend-50);
  --color-legend-ring: var(--legend-ring);
  --color-legend-border: var(--legend-border);
  --color-legend-muted-foreground: var(--legend-muted-foreground);
  --color-legend-muted: var(--legend-muted);
  --color-legend-foreground: var(--legend-foreground);
  --color-legend: var(--legend);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.148 0.004 228.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.148 0.004 228.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.148 0.004 228.8);
  --primary: oklch(0.514 0.222 16.935);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.947 0.001 286.38);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.963 0.002 197.1);
  --muted-foreground: oklch(0.56 0.021 213.5);
  --accent: oklch(0.963 0.002 197.1);
  --accent-foreground: oklch(0.218 0.008 223.9);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.925 0.005 214.3);
  --input: oklch(0.925 0.005 214.3);
  --ring: oklch(0.723 0.014 214.4);
  --legend: oklch(0.66 0.19 44.6);
  --legend-foreground: oklch(0.148 0.004 228.8);
  --legend-muted: oklch(0.96 0.035 44.6);
  --legend-muted-foreground: oklch(0.46 0.138 44.6);
  --legend-border: oklch(0.82 0.11 44.6);
  --legend-ring: oklch(0.66 0.12 44.6);
  --legend-50: oklch(0.98 0.02 44.6);
  --legend-100: oklch(0.95 0.04 44.6);
  --legend-200: oklch(0.9 0.07 44.6);
  --legend-300: oklch(0.82 0.11 44.6);
  --legend-400: oklch(0.74 0.15 44.6);
  --legend-500: oklch(0.66 0.19 44.6);
  --legend-600: oklch(0.58 0.17 44.6);
  --legend-700: oklch(0.49 0.14 44.6);
  --legend-800: oklch(0.4 0.11 44.6);
  --legend-900: oklch(0.32 0.08 44.6);
  --legend-950: oklch(0.24 0.05 44.6);
  --chart-1: oklch(0.9 0.07 44.6);
  --chart-2: oklch(0.74 0.15 44.6);
  --chart-3: oklch(0.586 0.253 17.585);
  --chart-4: oklch(0.66 0.19 44.6);
  --chart-5: oklch(0.455 0.188 13.697);
  --radius: 0.45rem;
  --sidebar: oklch(0.987 0.002 197.1);
  --sidebar-foreground: oklch(0.148 0.004 228.8);
  --sidebar-primary: oklch(0.586 0.253 17.585);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.963 0.002 197.1);
  --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
  --sidebar-border: oklch(0.925 0.005 214.3);
  --sidebar-ring: oklch(0.723 0.014 214.4);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
